body {
  background: rgb(45,37,64);
  background: -moz-linear-gradient(0deg, rgb(14, 0, 51) 35%, rgb(56, 0, 72) 100%);
  background: -webkit-linear-gradient(0deg, rgb(14, 0, 51) 35%, rgb(56, 0, 72) 100%);
  background: linear-gradient(320deg, rgb(14, 0, 51) 35%, rgb(56, 0, 72) 100%);
  filter: progid:DXImageTransform.Mi1crosoft.gradient(startColorstr="#2d2540",endColorstr="#402e4d",GradientType=1); 
}
.SectionGradientOdd{
  background: rgb(98,166,167);
  background:  linear-gradient(135deg, rgb(27, 49, 49) 0%, rgb(61, 43, 77) 33%, rgb(72, 45, 64) 70%);
}
.SectionGradientEven{
  background: rgb(98,166,167);
  background: linear-gradient(135deg, rgb(27, 49, 49) 0%, rgb(61, 43, 77) 33%, rgb(72, 45, 64) 70%);
}

a.border.nav-link.border-light.rounded.mr-1 {
  color: #3F729B;
}

a.border.nav-link.border-light.rounded.mr-1:hover {
  color: #1C2331;
}

.btn.btn-sm.indigo:hover{
  color: #fff;
}

.nav-link.active{
  background-color: rgba(255, 255, 255, 0.1);
}

#categories > .col-md-4.mb-5{
  margin-bottom: 8rem !important;
}
.sectionPage {
  position: relative;
  top: -15px;
  margin-bottom: -125px;
  background-color: inherit;
}

.sectionPage::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  filter: opacity(.1);
}
