
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&family=Lusitana&display=swap');
body {
  background: rgb(45,37,64);
  font-family: 'Lusitana', serif;
}

p,i,a,h1,h2,h3,h4,h5,h6,strong,input,label{
  color: #bca47a;
}
a.border.nav-link.border-light.rounded.mr-1 {
  /*color: #3F729B;*/
  color: #bca47a;
}

a.border.nav-link.border-light.rounded.mr-1:hover {
  /*color: #1C2331;*/
  color: #bca47a;
}

.btn{
  color: #bca47a;
  /*color: #fff;*/
}
.btn:hover{
  color: #bca47a;
  /*color: #fff;*/
}
.nav-link.active{
  background-color: rgba(255, 255, 255, 0.1);
}

#categories > .col-md-4.mb-5{
  margin-bottom: 8rem !important;
}
.sectionPage {
  position: relative;
  height: 100px;
  background-color: inherit;
}

.sectionPage::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  filter: opacity(.1);
}
.md-form input:not([type]), .md-form input[type="text"]:not(.browser-default), .md-form input[type="password"]:not(.browser-default), .md-form input[type="email"]:not(.browser-default), .md-form input[type="url"]:not(.browser-default), .md-form input[type="time"]:not(.browser-default), .md-form input[type="date"]:not(.browser-default), .md-form input[type="datetime"]:not(.browser-default), .md-form input[type="datetime-local"]:not(.browser-default), .md-form input[type="tel"]:not(.browser-default), .md-form input[type="number"]:not(.browser-default), .md-form input[type="search"]:not(.browser-default), .md-form input[type="search-md"], .md-form textarea.md-textarea {
  border-bottom: 1px solid #bca47a;
  color: #bca47a;
}
.md-form input:not([type]):focus:not([readonly]), .md-form input[type="text"]:not(.browser-default):focus:not([readonly]), .md-form input[type="password"]:not(.browser-default):focus:not([readonly]), .md-form input[type="email"]:not(.browser-default):focus:not([readonly]), .md-form input[type="url"]:not(.browser-default):focus:not([readonly]), .md-form input[type="time"]:not(.browser-default):focus:not([readonly]), .md-form input[type="date"]:not(.browser-default):focus:not([readonly]), .md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]), .md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), .md-form input[type="tel"]:not(.browser-default):focus:not([readonly]), .md-form input[type="number"]:not(.browser-default):focus:not([readonly]), .md-form input[type="search"]:not(.browser-default):focus:not([readonly]), .md-form input[type="search-md"]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]){
  border-bottom: 1px solid #6f5221;
  box-shadow: 0 1px 0 0 #6f5221;
}
.md-form .prefix.active{
  color:#6f5221;
}
.md-form input:not([type]):focus:not([readonly]) + label, .md-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label, .md-form input[type="password"]:not(.browser-default):focus:not([readonly]) + label, .md-form input[type="email"]:not(.browser-default):focus:not([readonly]) + label, .md-form input[type="url"]:not(.browser-default):focus:not([readonly]) + label, .md-form input[type="time"]:not(.browser-default):focus:not([readonly]) + label, .md-form input[type="date"]:not(.browser-default):focus:not([readonly]) + label, .md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label, .md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label, .md-form input[type="tel"]:not(.browser-default):focus:not([readonly]) + label, .md-form input[type="number"]:not(.browser-default):focus:not([readonly]) + label, .md-form input[type="search"]:not(.browser-default):focus:not([readonly]) + label, .md-form input[type="search-md"]:focus:not([readonly]) + label, .md-form textarea.md-textarea:focus:not([readonly]) + label{
  color:#bca47a;
}
#classicformpage .view {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 94vh;
}
.huerotate {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: opacity(50%)  contrast(180%) ;
  padding-top:100px;
  }

#classicformpage .card {
  background-color: rgb(36, 30, 51);

}

#classicformpage h6 {
  line-height: 1.7;
}

#classicformpage .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#classicformpage .top-nav-collapse {
  background: #424f95 !important;
}

@media (max-width: 768px) {
  #classicformpage .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

#classicformpage label {
  color: #bca47a !important;
}
.view{
  height: 94vh;
}
.view video {
  top: 0!important;
  left: 0!important;
  transform: none!important;
  height: 100vh;
  filter: opacity(75%) contrast(45%);
  }
.gradient2 {
  background: -moz-linear-gradient(135deg, rgb(28, 0, 100) 0%, rgb(26, 0, 34) 70%);
  background: -webkit-linear-gradient(135deg, rgb(28, 0, 100) 0%, rgb(26, 0, 34) 70%);
  background: linear-gradient(135deg, rgb(28, 0, 100) 0%, rgb(26, 0, 34) 70%);
  opacity: 0.65;
}