.flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
	justify-content: space-between;
}

.home-feature-box .fa {
	font-size:6rem;
}

.home-feature-box span {
	display: block;
	color:#bca47a;
	font-weight:bold;
	margin-top:1.5rem;
}

.example-components-list li > a {
  color: #bca47a;
}

.example-components-list li:last-child > a {
	border-bottom:0;
}

.example-components-list li > a .fa {
	color:#bca47a;
	float:right;
}
